

<div class="container">
	<div class="row" id="details">
		<p>
			<h1 class="title">CUSTOM FILTERS</h1>
		</p>
		<p>
			<h1 class="subtitle">Filter on data unique to your application</h1>	
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
	<br>
		<p class="p1">
		Attach custom diagnostic data to error reports, then use this data to build a highly customized view or your application errors
		</p>
		<img src="./assets/custom_filter1.png">
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<p class="p2">
			<strong class="threethings">3 things you can filter on now:</strong>
			
			<ol class="list">
				<li><strong>Shopping cart</strong> - find errors that are preventing users from checking out</li>
				<li><strong>Subscription info</strong> - ability to see errors impacting your most important customers</li>
				<li><strong>Results of A/B test</strong> - see if more errors are occuring on one test or another</li>
			</ol>	
		</p>
		<br>
		<p>
			<center class="p3">Only available on <button class="btn btn-primary"><a href="https://www.bugsnag.com/pricing/" class="pro">Pro</a></button> 
			</center>
		 </p>
	</div>
</div>
<br>
<br>
<div class="container">
	<div class="row">
		<p class="p4">Need help setting up a custom filter?</p>
	</div>
	<div class="row">
		<div class="col-md-6"><img src="./assets/subscription_info.png" height="220" width="100%" />
			<p class="p5">Read our docs <a href="https://docs.bugsnag.com/product/custom-filters/">here</a></p>
		</div>
		<div class="col-md-6"><img src="./assets/database.png" height="220" width="100%" />
			<p class="p5">Click on any database icon to save as a custom filter</a></p>
		</div>
	</div>	
</div>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			  
		</div>
		<div class="col-md-6"><img src="./assets/footer.png">
			
		</div>
		<div class="col-md-3">
			
		</div>
		
	</div>
	
</div>
<br>
<br>









