

<div class="container">
	<div class="row" id="details">
		<p>
			<h1>CUSTOM FILTERS</h1>
		</p>
		<p>
			<h1>Filter on data unique to your application</h1>	
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<h4>Easily filter to speed up debuging by adding custom metadata</h4>
		<img src="./assets/custom_filter1.png">
		<div class="col-md-6">
			
				
				<center>
				<h2>Who: For application owners who need to </h2>
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<h2>What: Pass Bugsnag information about subscription info or A/B tests </h2>
			</center>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		Three things you can filter on now
		<li>Shopping cart - find errors that are preventing users from checking out</li>
		<li>Subscription info - ability to see errors impacting your most important customers</li>
		<li>Results of A/B test - see if more errors are occuring on one test or another</li>
	</div>
</div>