// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#details {
	border-bottom: 5px;
	border-bottom: 2px solid grey;
}

.title {
	font-family: 'PT Sans';
	font-size: 40px;
	font-weight: 900;
	line-height: 48px;
}

.subtitle {
	font-family: 'PT Sans';
	font-size: 30px;
	font-weight: 500;
	line-height: 48px;
}

.p1 {
	color: rgb(68, 82, 94);
	font-family: AvenirLT-Light;
	font-size: 20px;
	font-weight: 500;
	line-height: 48px;
}

.threethings {
	font-family: 'PT Sans';
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
}

.list {
	font-family: 'PT Sans';
	font-size: 22px;
	font-weight: 500;
	line-height: 48px;
}

.p3 {
	font-size: 30px;
	font-weight: 500;
	line-height: 48px;
}

.pro {
	color: white;
	font-weight: 500;
}

.p4 {
	font-family: 'PT Sans';
	font-size: 25px;
	font-weight: 500;
	line-height: 48px;
}

.btn-primary {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 20px;
}

.p5 {
	font-family: 'PT Sans';
	font-size: 20px;
	font-weight: 500;
	line-height: 48px;
}





